아래 두 자료를 함께 보고 브리핑을 검수해 주세요.

<market_data_json>
{{ packet_json }}
</market_data_json>

<brief_text>
{{ draft_text }}
</brief_text>

검수 포인트:
- 6개 섹션 구조가 맞는지
- 수치와 해석이 충돌하지 않는지
- 일반인이 바로 이해하기 쉬운 말인지
- 어려운 금융 용어가 과하지 않은지
- 문장이 너무 길거나 추상적이지 않은지
